# Byte-compiled / optimized / DLL files
__pycache__/
*.py[cod]

# C extensions
*.so

# Distribution / packaging
.Python
env/
bin/
build/
develop-eggs/
dist/
eggs/
lib/
lib64/
parts/
sdist/
var/
*.egg-info/
.installed.cfg
*.egg

# Installer logs
pip-log.txt
pip-delete-this-directory.txt

# Unit test / coverage reports
htmlcov/
.tox/
.coverage
.cache
nosetests.xml
coverage.xml

# Translations
*.mo

# Mr Developer
.mr.developer.cfg
.project
.pydevproject

# Rope
.ropeproject

# Django stuff:
*.log
*.pot

# Sphinx documentation
docs/_build/

# io
io/*
*/io/*
*/*/io/*

# eclipse settings
*.resources.prefs

# CORPUS
CORPUS/*

# private documents
DOC/*
DMP/*

# all txt, rar, tar.gz, xlsx...
*.txt
*.rar
*.tar.gz
*.xlsx
*.docx
*.cfg
*.swf
*.doc
*.jpg
*.zip
*.json
*.html
*.7z
*.png
*.md

# Everstring owned
wrike_analysis/
n2e/


cn-nlp
